<h1>Об отдыхе на Мальте</h1>

<p>Отдых на Мальте:</p>

<ul>
  <li> разнообразие флоры</li>
  <li>теплый климат</li>
  <li>завораживающая архитектура</li>
  <li>знаменитые соборы и дворцы</li>
  <li>память о временах славы рыцарей Мальтийского Ордена</li>
</ul>

<h3>Если Вы:</h3>

<p>ценитель тишины и покоя, побывайте в Мдине, бывшей столице Мальты.
  Здесь туристов ожидают специальные экскурсии, рассказывающие об истории города. Не откажите себе в удовольствии прогуляться по спокойным старым улочкам, навевающим умиротворение.
  В шикарных садах Барака и Гастингса можно укрыться от яркого солнца, а заодно полюбоваться ранее невиданными растениями. Например, внушительным кактусом высотой около 6-7 метров.
  Отдых на Мальте - возможность убежать от реальности и окунуться в благодатное спокойствие.</p>





