<h1>Контакты</h1>
<p>
  <strong>Адрес:</strong> Мальтийское Управление по Туризму.
 <br>

  <strong>Почта:</strong><%= mail_to "info@malta.ru"%><br>

  <strong>Телефон:</strong> (+7 495) 223-15-06 <br>

</p>
