
<h3>Предлагаем слудующие эксукурсии:</h3>

<ul>
  <li>Организовываем поездки на яхте вокруг Мадьты - с купанием, рыбалкой</li>
  <li>Прогулка по средневековой Мдине-история Ордена Госпитальеров</li>
  <li>Бронирование экскурсий на Гозо</li>
  <li>Бронирование экскурсий на Сицилию.</li>
</ul>
<P></P>

<%= link_to 'Забронировать экскурсию','queries/new', class: "btn btn-large btn-warning"%>

